@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-weight: 400;
}


:root{
--ash-gray: #cad2c5ff;
--cambridge-blue: #84a98cff;
--hookers-green: #52796fff;
--dark-slate-gray: #354f52ff;
--charcoal: #2f3e46ff;
--fonte-texto:"Quicksand", sans-serif;
--texto-titulo:"Open Sans", sans-serif;
}

body{
    background-color: var(--hookers-green);
    color: var(--ash-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal{
    background-color: var(--cambridge-blue);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--dark-slate-gray);
    font-family: var(--fonte-titulo);
}

button{
    background-color: var(--ash-gray);
    color: var(--charcoal);
    border: none;
    border-radius: 15px;
    padding: 10px;
    transition: 0.3s;
    margin: 10px auto;
}

button:hover{
    background-color: var(--dark-slate-gray);
}